h1  {
    text-align: center;
    color: #0000FF;
}
caption  {
    font-size: x-large;
    text-align: center;
    color: #EEC615;
}
.table1_titles {

    background-color: aquamarine;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

.content {
    border: 1px solid black;
    text-align: center;
}
