body {
    font-family: Verdana, sans-serif;
}

h1  {
    text-align: center;
    font-weight: bold;
    color: #0000FF;
}

caption  {
    font-size: 25px;
  
    color: #EEC615;
}
.table1_titles {

    background-color: rgb(127, 255, 165);
}

table {
    width: 90%;
    margin: 0 auto;
    text-align:center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

th {
    padding: 30px;
    font-size: 25px;
}

.content {
    border: 1px solid black;
    font-size: 20px;
    padding: 15px;

}

.hores {
    
    font-size: 20px;
    padding: 10px;
    width: 180px;
}

#descans {
    font-size: 20px;
    padding: 15px;
}

.LMSGI{
 background-color: #FFC0CB;
}

.PED{
    background-color: #5F9EA0;
}

.BD{
    background-color: #FFF8DC;
}

.SI{
    background-color: #FFFF00;
}

.IPOI {
    background-color: #DC143C;
}
.DIW {
    background-color: #FF7F50;
}
.TUT {
    background-color: #6495ED;
}
.AN {
    background-color: #FFD700;
}