h1 {
    text-align: center;
    color: #FFA500;
}

h2 {
    background-color: #F0D1B2;
}

#copyrights {
    color: #555;
    font-size: 14px; 
    text-align: center;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}